{{#section 'css'}}
    <link rel="stylesheet" href="sweetalert2.min.css">
{{/section}}

{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script>
        function customAlert(){
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Thêm vào yêu thích thành công',
                    showConfirmButton: false,
                    timer: 2000
                });
        }
    </script>
{{/section}}

<div class="jumbotron jumbotron-fluid row" style="display: flex;justify-content: center;">
    <div class="container">
        <h1 class="display-4">Các sản phẩm đấu giá gần kết thúc</h1></br>
        <form method="POST">
        <div class="good row" style="justify-content: center; justify-content: space-around;">
            {{#each this.products1}}
            <div class="card shadow bg-white rounded" style="width: 13em;">
                <img src="/images/{{id}}/main.jpg" class="card-img-top" alt="{{ten_sp}}" title="{{ten_sp}}" >
                <div class="card-body">
                    <h5 class="card-title">{{ten_sp}}</h5>
                    <h6 class="card-text">Giá hiện tại: {{format gia_hien_tai}}</h6>
                    <h6 class="card-text">Bidder đặt giá cao nhất: Yang</h6>
                    <h6 class="card-text">Ngày đăng: {{ngay_dang}}</h6>
                    <h6 class="card-text">Ngày kết thúc: {{ngay_het_han}}</h6>
                    <h6 class="card-text">Số lượt ra giá: {{total}}</h6>
                    <div class="row">
                        <a href="/{{id}}/detailproduct" class="btn btn-secondary" role="button" aria-pressed="true">Chi tiết</a>
						<button type="submit" class="btn btn-danger" formaction="/favourite/{{id}}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Yêu thích
                        </button>
                    </div>
                </div>
            </div>  
            {{/each}}  
        </div>
        </form>
    </div>


    <div class="container m-2">
        <h1 class="display-4">Các sản phẩm có nhiều lượt đấu giá nhất</h1></br>
        <form method="POST" >
        <div class="good row" style="justify-content: center; justify-content: space-around;">
            <div class="good row" style="justify-content: center; justify-content: space-around;">
            {{#each this.products2}}
            <div class="card shadow bg-white rounded" style="width: 13em;">
                <img src="/images/{{id}}/main.jpg" class="card-img-top" alt={{ten_sp}}>
                <div class="card-body">
                    <h5 class="card-title">{{ten_sp}}</h5>
                    <h6 class="card-text">Giá hiện tại: {{format gia_hien_tai}}</h6>
                    <h6 class="card-text">Bidder đặt giá cao nhất: Yang</h6>
                    <h6 class="card-text">Ngày đăng: {{ngay_dang}}</h6>
                    <h6 class="card-text">Ngày kết thúc: {{ngay_het_han}}</h6>
                    <h6 class="card-text">Số lượt ra giá: </h6>
                    <div class="row">
                        <a href="/{{id}}/detailproduct" class="btn btn-secondary" role="button" aria-pressed="true">Chi tiết</a>
                        <button type="submit" class="btn btn-danger" formaction="/favourite/{{id}}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Yêu thích
                        </button>
                    </div>
                </div>
            </div>  
            {{/each}}  
            </div>
        </div>
        </form>
    </div>


    <div class="container m-2">
        <h1 class="display-4">Các sản phẩm có giá đấu giá cao nhất</h1></br>
        <form method="POST" >
        <div class="good row" style="justify-content: center; justify-content: space-around;">
            <div class="good row" style="justify-content: center; justify-content: space-around;">
            {{#each this.products3}}
            <div class="card shadow bg-white rounded" style="width: 13em;">
                <img src="/images/{{id}}/main.jpg" class="card-img-top" alt={{ten_sp}}>
                <div class="card-body">
                    <h5 class="card-title">{{ten_sp}}</h5>
                    <h6 class="card-text">Giá hiện tại: {{format gia_hien_tai}}</h6>
                    <h6 class="card-text">Bidder đặt giá cao nhất: Yang</h6>
                    <h6 class="card-text">Ngày đăng: {{ngay_dang}}</h6>
                    <h6 class="card-text">Ngày kết thúc: {{ngay_het_han}}</h6>
                    <h6 class="card-text">Số lượt ra giá: </h6>
                    <div class="row">
                        <a href="/{{id}}/detailproduct" class="btn btn-secondary" role="button" aria-pressed="true">Chi tiết</a>
                        <button type="submit" class="btn btn-danger" formaction="/favourite/{{id}}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Yêu thích
                        </button>
                    </div>
                </div>
            </div>  
            {{/each}}  
            </div>
        </div>
        </form>
    </div>
</div>